.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
html, body {
  overflow-x: hidden; /* Impede o movimento lateral */
}

.image-container {
  flex: 1 1 300px; /* Define o tamanho mínimo e ajusta a largura automaticamente */
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .image-container {
    flex: none;
    width: 80%; /* Ajusta a largura para ocupar 80% do container em telas menores */
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 100%; /* Ajusta para 100% em telas bem pequenas */
  }
}
 
  .navbar{
    background-color: #255378;
  }
  #navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteúdo */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


@font-face {
    font-family: 'Quicksand_Bold';
    src: url('Quicksand_Bold.otf') format('opentype');
}

.navbar .navbar-nav {
    display: flex;
    align-items: end  ;
    justify-content: start;
}

.navbar .navbar-nav  .nav-link {
    justify-content: center;
    font-family: 'Quicksand_Bold', sans-serif;
    color: #ffffff !important;
    cursor: pointer;
    background-image: linear-gradient(to right, #f9f7fc 0%, #f9f7fc 100%);
    background-position: 50% 100%;
    background-size: 0% 2px; /* Diminuir a altura da linha */
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0.3s; /* Animação suave */
}

.navbar .navbar-nav .nav-link:hover {
    color: #979797cc !important;
    background-size: 60% 3px; /* Aumentar a largura da linha ao passar o mouse */
    background-position: 50% 100%;
}

.navbar .navbar-nav .nav-link i {
    color: #ffffff !important; /* Cor dos ícones de fonte */
}

.navbar .navbar-nav .nav-link svg {
    color: #ffffff !important; /* Cor dos ícones SVG */
}

.navbar .navbar-nav .nav-link img {
    filter: brightness(0) invert(1); /* Ajusta a cor das imagens */
}

@media (max-width: 768px) {
  .bg-top {
      flex-direction: column;
      height: auto;
  }

  .bg-top img {
      max-width: 100%;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
  }

  .navbar-nav .nav-link {
      margin: 5px 0;
  }

  h2 {
      font-size: 1.5rem;
  }

  p {
      font-size: 0.9rem;
  }

  #map {
      width: 100%;
  }

  footer {
      font-size: 0.8rem;
  }

  #serviços .row {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 1.2rem;
  }

  p {
      font-size: 0.8rem;
  }

  .bi {
      font-size: 2rem;
  }

  footer {
      font-size: 0.7rem;
  }
}
#map {
  height: 250px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
}